/* basic styles */
body {
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* header styles */
.header {
  background-color: orangered;
  color: white;
  padding: 4px;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo {
  border: 3px solid whitesmoke;
  padding: 4px;
  text-align: center;
  width: 16px;
  float: left;
  margin-right: 8px;
}

/* nav styles */
.nav {
  float: left;
}

.nav-link {
  display: inline-block;
  padding: 8px;
}

.nav-link:hover {
  background-color: #111;
}

.built-with {
  float: right;
}

/* pager styles */
.pager {
  border-bottom: 1px solid white;
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 100%;
}

/* post-list styles*/

.posts-list * {
  /* border: 1px solid pink; */
}

.posts-list {
  list-style: none;
  padding: 0;
  padding: 16px;
}

.posts-list__post {
  background-color: white;
  border-bottom: 1px solid whitesmoke;
}

.post__section {
  float: left;
  min-width: 145px;
}

.post__view-count {
  color: orangered;
  font-weight: bold;
  font-size: 32px;
  padding: 45px;
  line-height: 2.5;
}

.post__title {
  color: navy;
  font-weight: regular;
  margin-bottom: 8px;
  font-size: 18px;
}

.title__link {
  text-decoration: none;
  color: grey;
  font-size: 16px;
}

.post__meta,
.meta__link {
  color: grey;
}
